.form_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;

  label {
    text-align: left;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: .25rem;
  }

  textarea {
    outline: none;
    border: 1px solid black;
    padding: .5rem 1rem;
    background-color: #111014 !important;
    color: white;
  }

  input {
    outline: none;
    border: 1px solid black;
    padding: .5rem 1rem;
    background-color: #111014 !important;
    color: white;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active{
      transition: all 5000s ease-in-out 0s;
      color: white !important;

    }
  }
  select {
    border: black;
    outline: none;

    &:focus {
      background: #07393C;
    }
    option {
      padding: 1rem;
      background: #111014;

      &:checked, &:focus, &:active, &:hover {
        background: #07393C !important;
      }
    }
  }

  button {
    box-shadow: none;
    background: #111014;
    outline: none;
    border: 1px solid black;
    color: white;
    padding: .5rem 1rem;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.25rem;
    transition: all .25s ease-in-out;

    &:hover {
      background: #07393C;
      cursor: pointer;
    }
  }
}