.form_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;

  label {
    text-align: left;
  }

  input {
    outline: none;
    border: 1px solid gray;
    padding: .5rem 1rem;
  }

  button {
    box-shadow: none;
    background: skyblue;
    outline: none;
    border: 1px solid gray;
    color: white;
    padding: .5rem 1rem;

    &:hover {
      background: lightblue;
      cursor: pointer;
    }
  }
}